<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.UserDialogs" version="3.2.0" targetFramework="MonoAndroid22" />
  <package id="PCLStorage" version="1.0.2" targetFramework="MonoAndroid22" />
  <package id="Toasts.Forms.Plugin" version="1.0.6.18" targetFramework="MonoAndroid50" />
  <package id="Xam.Plugin.Connectivity" version="1.0.2" targetFramework="MonoAndroid22" />
  <package id="Xam.Plugin.DeviceInfo" version="1.0.0.2" targetFramework="MonoAndroid22" />
  <package id="Xam.Plugins.Forms.ImageCircle" version="1.0.10" targetFramework="MonoAndroid22" />
  <package id="Xam.Plugins.Settings" version="1.5.0" targetFramework="MonoAndroid22" />
  <package id="Xamarin.Android.Support.v4" version="22.0.0.0" targetFramework="MonoAndroid50" />
  <package id="Xamarin.Forms" version="1.4.1.6349" targetFramework="MonoAndroid22" />
  <package id="Xamarin.Insights" version="1.9.1.107" targetFramework="MonoAndroid22" />
</packages>