<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="akavache" version="5.0.0" targetFramework="monoandroid50" />
  <package id="akavache.core" version="5.0.0" targetFramework="monoandroid50" />
  <package id="akavache.sqlite3" version="5.0.0" targetFramework="monoandroid50" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid50" />
  <package id="PCLStorage" version="1.0.2" targetFramework="monoandroid22" userInstalled="true" />
  <package id="Plugin.CurrentActivity" version="1.0.1" targetFramework="monoandroid50" />
  <package id="Rx-Core" version="2.2.5" targetFramework="MonoAndroid50" />
  <package id="Rx-Interfaces" version="2.2.5" targetFramework="MonoAndroid50" />
  <package id="Rx-Linq" version="2.2.5" targetFramework="MonoAndroid50" />
  <package id="Rx-Main" version="2.2.5" targetFramework="MonoAndroid50" />
  <package id="Rx-PlatformServices" version="2.2.5" targetFramework="MonoAndroid50" />
  <package id="Splat" version="1.6.2" targetFramework="MonoAndroid50" />
  <package id="SQLitePCL.raw_basic" version="0.8.0" targetFramework="MonoAndroid50" />
  <package id="SQLitePCLRaw.bundle_e_sqlite3" version="1.1.0" targetFramework="monoandroid50" />
  <package id="SQLitePCLRaw.core" version="1.1.0" targetFramework="monoandroid50" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.android" version="1.1.0" targetFramework="monoandroid50" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.android" version="1.1.0" targetFramework="monoandroid50" />
  <package id="Xam.Plugin.Connectivity" version="2.3.0" targetFramework="monoandroid50" userInstalled="true" />
  <package id="Xam.Plugin.DeviceInfo" version="2.1.2" targetFramework="monoandroid50" userInstalled="true" />
  <package id="Xam.Plugins.Settings" version="2.5.4" targetFramework="monoandroid50" userInstalled="true" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.3.0" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.Design" version="23.3.0" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="monoandroid50" userInstalled="true" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.3.0" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v7.CardView" version="23.3.0" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v7.MediaRouter" version="23.3.0" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.v7.RecyclerView" version="23.3.0" targetFramework="monoandroid50" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.3.0" targetFramework="monoandroid50" />
  <package id="Xamarin.Forms" version="2.3.3.180" targetFramework="monoandroid50" />
  <package id="Xamarin.Insights" version="1.10.4.112" targetFramework="monoandroid50" />
  <package id="xunit" version="2.1.0" targetFramework="monoandroid50" userInstalled="true" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="monoandroid22" userInstalled="true" />
  <package id="xunit.assert" version="2.1.0" targetFramework="monoandroid50" userInstalled="true" />
  <package id="xunit.core" version="2.1.0" targetFramework="monoandroid50" userInstalled="true" />
  <package id="xunit.extensibility.core" version="2.1.0" targetFramework="monoandroid50" userInstalled="true" />
  <package id="xunit.extensibility.execution" version="2.1.0" targetFramework="monoandroid50" userInstalled="true" />
  <package id="xunit.runner.devices" version="1.2.0-rc4" targetFramework="monoandroid5" userInstalled="true" />
  <package id="xunit.runner.utility" version="2.1.0-rc2-build3176" targetFramework="monoandroid5" userInstalled="true" />
</packages>